@import "../../style/utils/index.scss";
@import "../../style/mixins/index";
@import "../../style/themes/default.scss";

$hover-bg-color: rgba(148, 240, 251, 0.47);

@include block(ns(ButtonSelect)) {
  @include element(dropdown) {
    display: flex;
    flex-direction: column;
    @include poplayer-style();
    padding: 0;
    @include modifier(hasFilter) {
      padding-top: px-to-rem(36);
    }
  }
  @include element(dropdownInner) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  @include element(filterWrap) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: px-to-rem(36);
    padding-left: px-to-rem(12);
    padding-right: px-to-rem(12);
    display: flex;
    align-items: center;
    background-color: $gray-2;
  }
  @include element(filter) {
    width: 100%;
    border: none;
    height: px-to-rem(24);
    font-size: px-to-rem(16);
    background-color: rgba(255, 255, 255, .3);
    padding-left: px-to-rem(5);
    padding-right: px-to-rem(5);
    &:focus {
      outline: none;
    }
  }
  @include element(optionList) {

  }
  @include element(option) {
    cursor: pointer;
  }
}

@include block(ns(ButtonSelectOption)) {
  line-height: px-to-rem(28);
  padding-left: px-to-rem(12);
  &:hover {
    background: $hover-bg-color;
  }
  @include state(selected) {
    background: $hover-bg-color;
  }
}
