@import 'base.scss';

@include block(ns(PartyView, IM)) {
  width: 100%;
  max-height: 100%;
  display: flex;
  position: relative;
  flex: 1;
  @include element(Content) {
    flex: 1;
    @include modifier(inbox) {
      background: linear-gradient(35deg, #fff 20%, #c1ddf9 80%);
    }
    @include modifier(archive) {
      background: linear-gradient(35deg, #fff 20%, #ffdfe4 80%);
    }
  }
  @include element(Nav) {
    width: px-to-rem($im-party-view-nav-width);
    background: $gray-1;
    flex-shrink: 0;
  }
  @include element(TabContainer) {
    position: absolute;
    top: px-to-rem(-26);
    padding-left: px-to-rem(30);
    flex-shrink: 0;
  }
}
