@import 'base.scss';

@include block(ns(OrderPayment)) {
  @include element(methodConfig) {
    padding: px-to-rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include element(methodTrigger) {
    display: flex;
    width: px-to-rem(300);
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
    text-align: left;

    @include block(ns(PayMethodIcon, cm)) {
      width: px-to-rem(32);
      margin-right: px-to-rem(16);
    }
  }
  @include element(methodPop) {
    z-index: 100000;
    padding-top: px-to-rem(5);
    padding-bottom: px-to-rem(5);
    width: px-to-rem(300);
    background: white;
    border-radius: $poplayer-border-radius;
    border: 1px solid $poplayer-border-color;
    @include pop-shadow();
  }
  @include element(overlay) {
    background: white;
    border-radius: $poplayer-border-radius;
    border: 1px solid $poplayer-border-color;
    @include pop-shadow();
  }
}

@include block(ns(PayMethodOption)) {
  transition: all .3s ease;
  height: px-to-rem($btn-md-size);
  margin: px-to-rem(2);
  @include state(selected) {
    border-width: px-to-rem(3);
    border-color: $gray-10;
    background-color: $gray-1;
    color: $gray-10;
    line-height: px-to-rem($btn-md-size - 6);
    margin: 0;
  }
}


@include block(ns(WechatPaySection, cm)) {
  width: px-to-rem(300);
  min-height: px-to-rem(300);
  padding: px-to-rem(12);
  position: relative;
  @include element(hint) {
    text-align: center;
  }
}

@include block(ns(AlipaySection, cm)) {
  width: px-to-rem(300);
  min-height: px-to-rem(300);
  padding: px-to-rem(12);
  position: relative;

  @include element(qrcode) {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: px-to-rem(276);
    height: px-to-rem(276);
    background-color: white;

    iframe {
      border: none;
      width: 230px;
      height: 235px;
    }
  }

  @include element(hint) {
    text-align: center;
  }
}

@include block(ns(PayMethodLineItem)) {
  height: px-to-rem(46);
  display: flex;
  align-items: center;
  padding-left: px-to-rem(16);
  cursor: pointer;

  @include element(icon) {
    display: block;
    margin-right: 1em;

    @include block(ns(PayMethodIcon, cm)) {
      display: block;
      width: px-to-rem(32);
      height: auto;
    }
  }

  &:hover {
    background-color: $gray-1;
  }
  @include element(main) {

  }
  @include element(sub) {
    margin-left: auto;
    margin-right: px-to-rem(12);
  }
}

@include block(ns(PayMethodIcon, cm)) {
  display: inline-block;
  width: px-to-rem(32);
}
