@import 'base.scss';

@include block(DirectionMap) {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include element(canvas) {
    flex: 1;
  }
  @include element(address) {
    flex-shrink: 0;
    background-color: white;
    padding: px-to-rem(12) px-to-rem(12);
  }
  @include element(marker) {
    background-image: url('~!url-loader!@/images/marker.svg');
    background-size: contain;
    background-position: center bottom;

    @include modifier(startIcon) {
      background-image: url('./images/direction-marker.png');
      background-size: cover;
      overflow: hidden;
      background-position: 0 0;
  }
    @include modifier(endIcon) {
      background-image: url('./images/direction-marker.png');
      overflow: hidden;
      background-size: cover;
      background-position: -28px 0;
    }
    @include modifier(targetUserIcon){
      background-image: url('~!url-loader!@/images/marker.svg');
    }
  }

  @include element(routine) {
    stroke-opacity: 0.75;
    stroke-width: 6;

    @include modifier(walking) {
      stroke: #049804;
    }
    @include modifier(transit) {
      stroke: $color-secondary;
    }
    @include modifier(driving) {
      stroke: $color-tertiary;
    }
  }
}
