@import 'base.scss';

@include block(ns(WeekdayButton, st)) {
  margin-right: px-to-rem(12);
  @include state(selected) {
    .icon-weekday__circle {
      fill: $gray-10;
    }
    .icon-weekday__char {
      fill: white;
    }
  }
  @include state(disabled) {
    cursor: pointer;
    .icon-weekday__circle {
      fill: $gray-9;
    }
    .icon-weekday__char {
      fill: white;
    }
  }
}

@include block(ns(WeedkayGroup, st)) {
  display: flex;
  align-items: center;
  padding-top: px-to-rem(3);
  padding-bottom: px-to-rem(4);
  padding-left: px-to-rem(5);
  padding-right: px-to-rem(5);
}
