@import 'base.scss';

@include block(PinMap) {
  width: 100%;
  height: 100%;

  @include element(canvas) {
    width: 100%;
    height: 100%;
  }
  @include element(footer) {
    display: flex;
    justify-content: flex-end;
    margin-top: px-to-rem(12);
  }

  @include element(marker) {
    background-image: url('~!url-loader!@/images/marker.svg');
    background-size: contain;
    background-position: center bottom;
  }
}
