.header {
  height: 50px;
  background: #f4f4f4;
}

.main {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.footer {
  height: 2000px;
  background: lightcoral;
}

.sidebar {
  width: 20%;
  background: #dddddd;
  display: flex;
  flex-direction: column;
}

.sidebarMain {
  // flex: 1;
  // height: calc(100vh - 50px);
}

.docker {
  background: lightblue;
  height: 120px;
  // width: 300px;
  // position: fixed;
  // bottom: 0;
}

.content {
  width: 50%;
  // height: 800px;
  border: 1px solid red;
}
