@mixin make-grid-grid($size) {
    @include block(padding) {
        @include modifier($size) {
            padding: px-to-rem($size);
        }
        @include modifier(x) {
            @include modifier($size) {
                padding-left: px-to-rem($size);
                padding-right: px-to-rem($size);
            }
        }
        @include modifier(y) {
            @include modifier($size) {
                padding-top: px-to-rem($size);
                padding-bottom: px-to-rem($size);
            };
        }
        @include modifier(l) {
            @include modifier($size) {
                padding-left: px-to-rem($size);
            };
        }
        @include modifier(r) {
            @include modifier($size) {
                padding-right: px-to-rem($size);
            };
        }
        @include modifier(t) {
            @include modifier($size) {
                padding-top: px-to-rem($size);
            };
        }
        @include modifier(b) {
            @include modifier($size) {
                padding-bottom: px-to-rem($size);
            };
        }
    }
    @include block(margin) {
        @include modifier($size) {
            margin: px-to-rem($size);
        }
        @include modifier(x) {
            @include modifier($size) {
                margin-left: px-to-rem($size);
                margin-right: px-to-rem($size);
            }
        }
        @include modifier(y) {
            @include modifier($size) {
                margin-top: px-to-rem($size);
                margin-bottom: px-to-rem($size);
            };
        }
        @include modifier(l) {
            @include modifier($size) {
                margin-left: px-to-rem($size);
            };
        }
        @include modifier(r) {
            @include modifier($size) {
                margin-right: px-to-rem($size);
            };
        }
        @include modifier(t) {
            @include modifier($size) {
                margin-top: px-to-rem($size);
            };
        }
        @include modifier(b) {
            @include modifier($size) {
                margin-bottom: px-to-rem($size);
            };
        }
    }
}
