@mixin icon-before-content() {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// TO fix Chrome 12px bug , may ref: antd style/mixins/iconfont.less
