$dimzou-line-height: 1.35;

$dimzou-title-font: $sans-serif-title-font;
$dimzou-text-font: $sans-serif-text-font;
// $dimzou-text-font: $serif-text-font;

$dimzou-title-king-size: 56px;
$dimzou-title-queen-size: 36px;
$dimzou-title-jack-size: 24px;

$dimzou-text-king-size: 21px;
$dimzou-text-queen-size: 18px;
$dimzou-text-jack-size: 16px;

$dimzou-card-title-font: $dimzou-title-font;
$dimzou-card-title-font-size: 24px;
$dimzou-card-text-font: $dimzou-text-font;
$dimzou-card-text-font-size: 16px;
$dimzou-card-line-height: 1.4;

$dimzou-draft-theme-color: rgb(189, 22, 34);
$dimzou-translation-theme-color: #1d70b7;
