@import 'base.scss';

@include block(CareerItem) {
  border-bottom: 1px dashed $gray-5;

  @include element(main) {
    position: relative;
    padding: px-to-rem(5);
    // @include state(pic, has) {
    //   padding-right: px-to-rem(80);
    // }
  }

  a {
    color: $bio-link-color;
    text-decoration: none;
  }

  @include element(header) {
    // min-height: px-to-rem($label-item-height);
  }

  @include element(desc) {
    // display: flex;
  }

  @include element(infoTrigger) {
    margin-left: auto;
  }

  @include element(title) {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: $sans-serif-title-font;
    font-size: px-to-rem(18);
    font-weight: normal;
    line-height: 1.25;
    margin-right: 0.5em;
  }

  @include element(label) {
    color: $gray-6;
    font-size: px-to-rem(14);
  }

  @include element(organization) {
    font-size: px-to-rem(16);
    margin: 0;
  }
  @include element(duration) {
    color: $gray-6;
    margin-top: px-to-rem(2);
    margin-bottom: px-to-rem(2);
  }
  @include element(description) {
    margin-top: px-to-rem(2);
    margin-bottom: px-to-rem(2);
  }

  @include element(pic) {
    max-width: px-to-rem(600);
  }

  @include element(picPreview) {
    // position: absolute;
    // top: px-to-rem(5);
    // right: px-to-rem(5);
    // bottom: px-to-rem(5);
    // max-height: px-to-rem(56);
    // width: px-to-rem(75);
    width: 100%;
    background-size: cover;
    background-color: $gray-1;
    background-repeat: no-repeat;
    @include modifier(modal) {
      .ft-Modal__content {
        padding: 0;
      }
    }
  }

  @include element(actionGroup) {
    position: absolute;
    top: 0;
    right: 0;
  }

  .cm-CommentBundle {
    margin-bottom: px-to-rem(5);
  }
}
