@import 'base.scss';

@include block(ns(UserApp, l)) {
  display: flex;
  min-height: calc(100vh - 60px);
  @include element(sidebar) {
    width: px-to-rem($site-sidebar-width);
  }
  @include element(sidebarInner) {
    position: sticky;
  }
  @include element(main) {
    flex: 1;
    min-width: 0;
  }
}