@import 'base.scss';

@include block(WechatPayInfoHint) {
  position: fixed;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.3);
}
